.bento--container{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: 17vw;
  max-width: 1064px;
  margin: 2rem auto;
  gap: 10px;
  padding: 0.8rem;
}

.bento-box{
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bento-1{
  background-color: #3A0CA3;
}

.bento-2{
  background-color: #ff784f;
}

.bento-3{
  background-color:#7209B7;
}

.bento-4{
  background-color: #c8506f;
  overflow: hidden;
}

.bento-5{
  overflow: hidden;
}

.bento-6{
  grid-column: span 2;
  grid-row: span 2;
  background-color: #e63946;
}

.bento-7{
  background-color: #005baffb;
}

.bento-8{
  grid-row: span 2;
  background-color: #bb9457;
}

.bento-9{
  text-decoration: none;
  background-color: #ff9f1c;
}

.bento-10{
  text-decoration: none;
  background-color: #019163;
}

.bento-11{
  grid-column: span 2;
  overflow: hidden;
  cursor: pointer;
  background-color: #982062;
}


/* Hover animations */
 .bento-link{
  transition: transform 250ms;
  position: relative;
}

.bento-link:hover{
  transform: scale(1.02);

}


@media only screen and (max-width: 750px) {
  .bento--container{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 8rem;
  }
 
  .bento-6{
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
  }

  .bento-2{
    grid-column: 1;
    grid-row: 3;
  }

  .bento-7{
    grid-column: 2;
    grid-row: 3;
  }
}