.projects--container{
  margin: 3.5rem auto;
  padding: 0 10px;
  max-width: 964px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 18px;
  justify-content: space-evenly;
}




@media only screen and (max-width: 750px) {
  .proyects--container{
    grid-template-columns: auto;
    max-width: 600px;
  }
}